.djboard {
    display: flex;
    /*flex-direction: row;*/
    margin-top: 1em;
}

.deck {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #212228;
    border-radius: 1em;
}

.deck label {
    font-size: 0.7rem;
    margin-left: 1em;
    margin-bottom: 0;
    color: #8284ac;
    font-weight: bolder;
}

.knobs {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    margin-bottom: 1em;
    align-items: center;
    background-color: #212228;
}

.knob {
    display: flex;
    position: relative;
    background-color: #212228;
}

.knob .ticks {
    position: absolute;
}

.knob .ticks .tick {
    position: absolute;
    background: black;
    border: 0px;
    /*box-shadow: inset 0 0 0 0 black;*/
    width: 3px;
    transition: background 0.1s;
}

.knob .ticks .tick.active {
    background: #4fbce3;
    /*box-shadow: inset 0 0 5px 2px #4fbce3, 0 0 0 1px #3371bd;*/
}

.knob.outer {
    border-radius: 50%;
    border: 1px solid #222;
    border-bottom: 5px solid #222;
    background-image: radial-gradient(100% 70%, #666 6%, #333 90%);
    box-shadow: 0 5px 15px 2px black, 0 0 5px 3px black, 0 0 0 12px #444;
}

.knob.inner {
    border-radius: 50%;
}

.knob.inner .grip {
    position: absolute;
    width: 5%;
    height: 20%;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 1em;
    background: #ffffff;
    /*box-shadow: 0 0 3px 1px black;*/
}

.playButton {
    width: 70%;
    align-self: center;
    margin-top: 1em;
    margin-bottom: 0.6em;
    font-weight: lighter;
}

.deck label {
    margin-top: 0.4em;
    background-color: #212228;
    align-self: center;
    font-weight: lighter;
}

.deck h3 {
    background-color: #212228;
    font-size: 0.6rem;
    font-weight: 400;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    display: inline-block;
    width: 70%;
}

.boardpanel {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 1em;
    margin-right: 1em;
}

.loadbutton {
    background-color: #d88903;
    font-weight: bolder;
}

.deckanalysis p {
    font-size: 12px;
    font-weight: 700;
    margin: 0.1em;
}