@import "Fonts.css";

$darkColor: #a7a7a7;

.djboard {
    display: flex;
    margin-top: 1em;
    margin-bottom: 2em;
    transition: all 0.5s ease;
    background-color: none;
    position: relative; 
    z-index: 99;
}

.deck {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #000000;
    font-family: "Monument Black";
    & * {
        background-color: #000000;
        font-family: "Inter";
        font-weight: 800;
    }

    label {
        align-self: center;

        margin-left: 1em;
        margin-bottom: 0;
        margin-top: 0.4em;

        color: #8284ac;
        font-size: 0.7rem;
        font-weight: bolder;
    }

    h3 {
        font-size: 0.6rem;
        font-weight: 600;
        // margin-right: 1em;
        // margin-bottom: 1em;
        display: inline-block;
        width: 70%;
    }

    .deck-content {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        margin-left: 0.4em;
        h4 {
            flex-grow: 1;
            // flex-basis: content;
            margin-top: 0;
            margin-bottom: 0;
            font-size: 0.5rem;
            font-weight: 600;
            color: $darkColor;
        }
        & > * {
            margin-left: 0em;
        }

        .deck-text {
            flex-grow: 1;
            // margin-left: 0.5rem;
            display: flex;
            flex-direction: row;
            & > * {
                margin-top: 0;
                margin-bottom: 0;
            }

            h2 {
                font-size: 0.7rem;
                flex-grow: 1;
                font-weight: 900;
            }

            h3 {
                font-size: 0.5rem;
                justify-self: auto;
                flex-basis: content;
                font-weight: 800;
                margin-right: 0em;
                margin-bottom: 0em;
            }
        }
    }
}

.playButton {
    width: 70%;
    align-self: center;
    margin-top: 1em;
    margin-bottom: 0.6em;
    font-weight: lighter;
}

.boardpanel {
    flex-direction: column;
    width: 50%;
    margin-left: 1em;
    margin-right: 1em;
    background-color: #000000;
    font-family: "Monument Black";
    padding: 1em;
    padding-top: 0;
    border-radius: 0.2rem;
    transition: box-shadow 1s ease;
    overflow: visible;

    & > * {
        background-color: #000000;
    }

    img {
        width: 5em;
        height: 5em;
        border-radius: 0.4rem;
    }

    h2 {
        margin-bottom: 0.4em;
        color: var(--accent-color);
    }

    h3 {
        font-size: 0.5rem;
        color: #5c595d;
    }

    .loadbutton {
        background-color: #d88903;
        font-weight: bolder;
    }
}
