@import "./Fonts.css";

$darkColor: #7f7b80;
$successColor: #48e26f;
$failColor: #e24848;

$dopeColor: hsla(19, 100%, 64%, 0.302);

.queue-header {
    display: flex;
    background-color: none;
    position: relative;
    z-index: 0;
    flex-direction: column;

    margin-left: 1rem;
    margin-top: 0rem;
    h2 {
        font-family: "Monument Black";
        font-weight: 800;
        font-size: 0.8rem;
        color: $darkColor;
        background-color: none;
    }

    & > * {
        background-color: none;
    }
}
.queue::-webkit-scrollbar {
    display: none;
}
.queue {
    transition: all 1s ease;
    margin-right: 2em;
    font-family: "Inter";
    overflow-y: scroll;
    background-color: none;
    height: 12rem;

    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    button {
        width: 90%;
        padding: 1em;
        font-weight: 800;
    }

    .entry {
        p {
            font-size: 0.6rem;
            text-align: left;
            font-family: "Inter";
            background-color: #252426;
            color: $darkColor;
            padding: 0.4rem;
            padding-right: 3rem;
            font-weight: 600;
            margin-top: 0.2rem;
            border-radius: 0.1rem;
        }
    }
}

.queue::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, transparent 50%, rgb(23, 20, 24) 100%);
}
