.waveform-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100px;  width: 100%;
    background: transparent;
}

.waveform-comp button:hover {
    background: #d63d05;
}

.controls {
    width: 100%;
    text-align: left;
    padding: 1em;
}